*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* html,
body {
    height: 100%;
} */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

main {
    position: relative;
    margin: 25vmin auto 10vmin auto;
    width: 70vw;
    height: fit-content;
    padding: 5vw;
    background-color: rgba(0, 0, 0, .2);
}

section.houses {
    display: flex;
    grid-gap: 2vw;
}

dl {
    background-color: rgba(255, 255, 255, .4);
    padding: 2rem 1.5rem;
    width: 100%;
}

dt {
    font-size: 1.25rem;
    font-style: italic;
    margin: auto auto .25rem auto;
    text-align: center;
    
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, .4);
}

@media screen and (max-width: 1200px) {
    section#buttons {
        justify-content: center;
    }
}

@media screen and (max-width: 860px) {
    body {
        font-size: 18px;
    }

    section.houses {
        flex-flow: column wrap;
    }

    dl {
        display: flex;
        justify-content: space-around;
    }

    dt {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        flex-basis: 100%;
    }

    dd {
        display: flex;
        text-align: center;
        line-height: 1;
        align-items: center;
        flex-basis: 25%;
        padding: .5vmin;
    }
}

@media screen and (max-width: 625px) {

    section.houses {
        grid-gap: 5vmin;
    }

    dl {
        display: block;
    }

    dd {
        justify-content: center;
    }
}